*pycache* 
*.zip
*.ipynb_checkpoints/*
*.aux                                                                                                                                                                                                                                                         
*.bbl                                                                                                                                                                                                                                                         
*.blg                                                                                                                                                                                                                                                         
*.dvi                                                                                                                                                                                                                                                         
*.log                                                                                                                                                                                                                                                         
*.pdf                                                                                                                                                                                                                                                         
*.pytxcode                                                                                                                                                                                                                                                    
*pythontex/*  
